table{
    color: #ffffff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
}

tr{
    height: 16.67vh;
    background-color: #313131;
}

td{
    width: 25vw;
    border: 1px solid #313131;
}

#inputBox{
    background-color: #313131;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #ffffff;
    border: 0px;
}

.digitBtn{
    background-color: #505050;
}
.operatorBtn{
    background-color: #FF9500;
}
ACBtn{
    background-color: #A6A6A6;
}
